body {
  background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4437565.jpg);
  font-style:italic;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #FFF000;
  font-family: fantasy;
}

li {
  color: #FFF;
  font-family: fantasy;
}

p a {
  color: #FFF
}

h3 {
  color: #FFF000
}
